form {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 600px;
    row-gap: 25px;
    background-color: blueviolet;
    padding: 25px;
    border-radius: 10px;
    border: 5px solid #6722a9;
}

input {
    color: #6722a9;
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 10px;
    outline: none;
    font-size: large;
}

a {
    color:#cecece;
    font-size: 15pt;
}

button {
    padding: 20px;
    color: #cecece;
    background-color: #6722a9;
    border-radius: 10px;
    border: 1px solid blueviolet;
    cursor: pointer;
    transition: 1ms ease-in;
}

button:hover {
    border: 4px solid #6722a9;
    background-color: #37125a;
}